---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = await Astro.glob("../pages/posts/**/**/*.mdx");
const pageTitle = "My Blog";
// 日付順にソートする関数
const sortByDate = (a, b) => {
  return new Date(b.frontmatter.pubDate) - new Date(a.frontmatter.pubDate);
};
---

<BaseLayout>
  <h3>{pageTitle}</h3>
  <p>This is where I will post about my journey learning Astro.</p>
  <article>
    <ul>
      <!-- allPostsを日付順にソートして、一覧画面に表示する -->
      {
        allPosts.sort(sortByDate).map((post) => (
          <div class="pairs">
            <div class="titile">
              <BlogPost
                url={post.url}
                title={post.frontmatter.title}
                date={post.frontmatter.pubDate}
              />
            </div>
            <div class="data">
              <a href={post.url}>
                <img
                  class="thumbnail"
                  src={post.frontmatter.img}
                  alt={post.frontmatter.img_alt}
                />
              </a>
            </div>
          </div>
        ))
      }
    </ul>
  </article>
</BaseLayout>
<style>
  .container {
    padding: 0 2 rem;
  }
  .thumbnail {
    text-align: right;
    width: 950px;
    box-shadow: 2px 3px 8px black;
    transition: all 0.3s;
    cursor: pointer;
  }
  .thumbnail:hover {
    transform: translate(1px, 2px);
    box-shadow: none;
  }
  /* .grid {
    display: grid;
    flex-wrap: wrap;
    max-width: 1200px;
    gap: 40px;
    margin: 0 auto;
    grid-template-columns: repeat(auot-fit, minmax(400px, 1fr));
  } */
  ul {
    list-style: none;
    padding: 0%;
  }
  .title {
    padding: 5% 0%;
  }
  .pairs {
    display: flex;
    position: relative;
    margin: 1em;
    /* border: 1px solid #8b8b8b; */
  }
  .pairs .title {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
</style>
